#===================================================================================================
# Repository
#===================================================================================================

# Configurations
/configs
/.travis.yml

# Source Code
/src

# Test Suites
/tests

# Coverage Report
/coverage

# Tarball Package
/*.tgz
