#===================================================================================================
# Repository
#===================================================================================================

# Configurations
/configs
/.travis.yml

# Source Code
/src

# Test Suites
/tests

#===================================================================================================
# Node.js
#===================================================================================================

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Output of 'npm pack'
*.tgz
